/* Video Slider Section */
.video-slider-section {
    background-color: #fff;
    position: relative;
}

.section-title {
    font-size: 24px;
    font-family: 'Montserrat Armenian semiBold';
    color: #833F6D;
    margin-bottom: 25px;
    margin-left: 30px;
}

/* Wrapper with padding for visual balance */
.slider-wrapper {
    position: relative;
    overflow: hidden;
    margin: 2% 3%;
}

/* Track scrolls horizontally */
.slider-track {
    display: flex;
    transition: transform 0.4s ease-in-out;
    justify-content: flex-start;
    width: 100%;
    margin-left: 1%;
    margin-right: 1%;
}


/* Each video card */
.video-card {
    min-width: 20%;
    max-width: 20%;
    flex-shrink: 0;
    text-align: center;
}

/* Thumbnail wrapper */
.video-thumb {
    position: relative;
    border-radius: 10px;
    overflow: hidden;
     height: 150px;
    width: 92%;
}

.video-thumb img {
    display: block;
    border-radius: 12px;
}

/* Play icon overlay */
.play-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 40px;   
    height: 40px;      
    pointer-events: none; 
    transition: transform 0.2s ease;
}


/* Video caption */
.video-card p {
    font-size: 12px;
    font-family: 'Montserrat Armenian semiBold';
    color: #3C3C3C;
    text-align: start;
    padding-top: 8px ;
    padding-left: 8px;
    padding-right: 40px;
}

/* Slider arrows */
.slider-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border: none;
    background-color: transparent;
    border-radius: 50%;
    cursor: pointer;
    z-index: 10;
}

.arrow {
    width: 35px;
    height: 35px;
}

.slider-btn.prev {
    left: 1%;
}

.slider-btn.next {
    right: 1%;

}

/* Disabled button */
.slider-btn[disabled] {
    opacity: 0.5;
    cursor: not-allowed;
}

/* Responsive: smaller screen shows 2 cards */
@media (max-width: 1024px) {
    .video-card {
        min-width: 33.3333%;
        max-width: 33.3333%;
    }
}

@media (max-width: 768px) {
    .video-card {
        min-width: 80%;
        max-width: 80%;
    }

    .slider-btn.prev {
        left: -20px;
    }

    .slider-btn.next {
        right: -20px;
    }

    .section-title {
        font-size: 22px;
        text-align: center;
    }
}